body{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    
}



.wrab{
    border: solid 2px red;
    width: 500px;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.titulo{
    color: blue;
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;

}