body{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    
}

.wrab{
    border: solid 2px red;
    width: 500px;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 20px;
}